p {
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 30px;
}
body {
  background-color: gold;
}
img {
  display: block;
  margin: auto;
  width: 250px;
  height: 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 
li a {
    display: block;
}
